/*.jumbotron {
	background-image: url('https://i.imgur.com/jWGKFC0.jpg?1');
	height: 500px;
	background-repeat: no-repeat;
	background-size: cover;
}*/


.jumbotron .container h1 {
	font-size: 64px;
	font-family: 'Josefin Sans', sans-serif;
	text-transform: uppercase;
}

.jumbotron .container h4 {
	letter-spacing: 0.3em;
	font-family: 'Josefin Sans', sans-serif;
	text-transform: uppercase;
}

.nav {
	font-family: Verdana, sans-serif;
	font-size: 13px;
	text-transform: uppercase;
	text-align: center;
}

.work-reel {
	border-bottom: 1px solid #dbdbdb;
	padding-top: 30px;
	font-family: Verdana, sans-serif;
	font-size: 11px;
	text-transform: uppercase;
}

.footer {
	padding-top: 10px;
	font-family: Verdana, sans-serif;
	font-size: 9px;
	text-align: center;
}

